# Ignore patterns for git.
# See:  https://www.atlassian.com/git/tutorials/saving-changes/gitignore

# Don't track Jetbrains Pycharm / Fleet stuff
.idea/
.fleet/

# Don't track .DS_Store (Mac Temp file)
.DS_Store

# Don't track __pycache__ folders
*__pycache__

# Don't track virtual environment subdirectories
virtualenv/
.venv/
venv/

# Ignore a file called todoist_api_config.json because
# The template file todoist_api_config_TEMPLATE.json
# suggests that config with the todoist API token
# Is kept in a file with that name.
todoist_api_config.json
